@import "bootstrap.less";
@import "includes/pygments.less";

.jumbotron {
  position: relative;
  margin-bottom: 0;
  @media (min-width: @screen-sm-min) {
    height: 800px;
    padding-top: 550px;
  }
}

.jumbotron > .background {
  @media (max-width: @screen-xs-max) {
    .responsive-invisibility();
  }
  @media (min-width: @screen-sm-min) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    .opacity(0.5);
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    background-position: center;
  }
}

.jumbotron > .container {
  z-index: 2;
  background: lightgray;
  color: black;
}

.navbar.affix {
  .navbar-fixed-top;
}

body > footer {
  border-top: 1px lightgray solid;
  margin-top: 20px;
  padding-top: 20px;
}

article.post > p:first-of-type {
  .lead;
}
