@import "bootstrap.less";
@import "includes/pygments.less";

.jumbotron {
  position: relative;
  margin-bottom: 0;
  @media (min-width: @screen-sm-min) {
    height: 800px;
    padding-top: 550px;
  }
}

.jumbotron > .background {
  background-position: center;

  @media (max-width: @screen-xs-max) {
    .responsive-invisibility();
  }

  @media (min-width: @screen-sm-min) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url('/images/cover.jpg');
    background-size: cover;
    height: 800px;
    width: 100%;
    .opacity(0.5);
  }
}

.jumbotron > .container {
  z-index: 2;
  background: lightgray;
  color: black;
}

.navbar.affix {
  .navbar-fixed-top;
}

body > footer {
  border-top: 1px lightgray solid;
  margin-top: 20px;
  padding-top: 20px;
}

article.post > p:first-of-type {
  .lead;
}

body.post .jumbotron {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;

  @media (max-width: @screen-xs-max) {
    .responsive-invisibility();
  }
}

body.post .navbar {
  .navbar-fixed-top;
  margin-bottom: 0;
}

.cover-photo-credit {
  display: none;
}

body.post .cover-photo-credit {
  display: block;

  @media (max-width: @screen-xs-max) {
    .responsive-invisibility();
  }
}

#recentPosts article header h1 {
  font-size: @font-size-h4;
}
