[submodule "lib/twitter-bootstrap"]
	path = lib/twitter-bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/yuicompressor"]
	path = lib/yuicompressor
	url = git://github.com/yui/yuicompressor.git
[submodule "lib/font-awesome"]
	path = lib/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/reveal.js"]
	path = lib/reveal.js
	url = git://github.com/hakimel/reveal.js.git
[submodule "lib/head.js"]
	path = lib/head.js
	url = git://github.com/headjs/headjs.git
