---
description: The Imaginary Road is the personal blog of Michael Collins. My blog contains mostly technical postings about the projects that I am working on or researching in both my personal and professional lives.
javascript: homepage
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{site.brand}}</title>
		<link rel="stylesheet" href="/css/{{site.theme}}.css"/>
		<link rel="alternate" type="application/rss+xml" title="{{site.brand}} RSS Feed" href="/rss.xml"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="og:title" content="{{site.brand}}"/>
		<meta name="og:type" content="website"/>
		<meta name="og:url" content="http://www.michaelfcollins3.me"/>
		<meta name="og:description" content="{{page.description}}"/>
		<meta name="og:site_name" content="{{site.brand}}"/>
		<meta name="description" content="{{page.description}}"/>
		<meta name="author" content="Michael F. Collins, III"/>
		<meta charset="UTF-8"/>
		{% include google_analytics.html %}
	</head>
	<body id="homepage">
        {% include navigation_bar.html %}
        <div id="jumbotron">
        	<div class="container">
        		<h1>The Imaginary Road</h1>
        		<p>{{page.description}}</p>
        	</div>
        </div>
		<div class="container">
			<div class="row">
				<div class="span4">
					{% if paginator.page == 1 %}
					<section id="sectionList">
						<h4>On This Page</h4>
						<ul class="nav nav-list">
							<li><a href="#featuredPost">Featured Post</a></li>
							<li><a href="#recentPosts">Recent Posts</a></li>
						</ul>
					</section>
					{% endif %}
					</section>
					<section>
						<h4>Blog</h4>
						<div id="categoryTree"></div>
					</section>
				</div>
				<div class="span8" data-spy="scroll" data-target="#sectionList">
					<ul class="pager">
						{% if paginator.previous_page_path %}
						<li class="previous"><a href="{{paginator.previous_page_path}}">&larr; Previous</a></li>
						{% else %}
						<li class="previous disabled"><a href="#">&larr; Previous</a></li>
						{% endif %}
						{% if paginator.next_page_path %}
						<li class="next"><a href="{{paginator.next_page_path}}">Next &rarr;</a></li>
						{% else %}
						<li class="next disabled"><a href="#">Next &rarr;</a></li>
						{% endif %}
					</ul>
					{% if paginator.page == 1 %}
					{% assign featured_post = paginator.posts | first %}
					<section id="featuredPost">
						<h1>Featured Article</h1>
						<article>
							<ul class="breadcrumb">
								<li>
									<a href="/">Blog</a>
									{% if featured_post.categories %}
									<span class="divider">/</span>
									{% endif %}
								</li>
								{% assign last_category = featured_post.category_names | last %}
								{% for category in featured_post.category_names %}
								<li>
									<a href="/blog/{{category | replace:' ','_' | replace:'.NET','dotnet'}}.html">{{category}}</a>
									{% if category != last_category %}
									<span class="divider">/</span>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
							<div class="page-header">
								<h1><a href="{{featured_post.url}}">{{featured_post.title}}</a></h1>
							</div>
							<p class="lead">{{featured_post.description}}</p>
							<p><span class="author">{{featured_post.author}}</span><br/><time datetime="{{featured_post.date | date:'%Y-%m-%d'}}">{{featured_post.date | date:'%B %d, %Y'}}</time></p>
                        	{{featured_post.content | markdownify}}
                        	<p><a href="{{featured_post.url}}#disqus_thread" data-disqus-identifier="{{featured_post.disqus_identifier}}">Comments</a></p>
						</article>
					</section>
					<section id="recentPosts">
						<h1>Recent Posts</h1>
						<ul class="unstyled">
							{% for post in paginator.posts offset:1 limit:9 %}
							<li>
								<article>
									<h2><a href="{{post.url}}">{{post.title}}</a></h2>
									<p><time datetime="{{post.date | date:'%Y-%m-%d'}}">{{post.date | date:'%B %d, %Y'}}</time></p>
									{{post.excerpt}}
									<p><a href="{{post.url}}">Read more</a></p>
									<p><a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.disqus_identifier}}">Comments</a></p>
								</article>
							</li>
							{% endfor %}
						</ul>
					</section>
					{% else %}
					<section id="recentPosts">
						<ul class="unstyled">
							{% for post in paginator.posts %}
							<li>
								<article>
									<h5><a href="{{post.url}}">{{post.title}}</a></h5>
									<p><time datetime="{{post.date | date:'%Y-%m-%d'}}">{{post.date | date:'%B %d, %Y'}}</time></p>
									{{post.excerpt}}
									<p><a href="{{post.url}}">Read more</a></p>
									<p><a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.disqus_identifier}}">Comments</a></p>
								</article>
							</li>
							{% endfor %}
						</ul>
					</section>
					{% endif %}
					<ul class="pager">
						{% if paginator.previous_page_path %}
						<li class="previous"><a href="{{paginator.previous_page_path}}">&larr; Previous</a></li>
						{% else %}
						<li class="previous"><a href="/">&larr; Previous</a></li>
						{% endif %}
						{% if paginator.next_page_path %}
						<li class="next"><a href="{{paginator.next_page_path}}">Next &rarr;</a></li>
						{% else %}
						<li class="next disabled"><a href="#">Next &rarr;</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
        {% include footer.html %}
        {% include javascript.html %}
        {% include disqus_comment_count_javascript.html %}
	</body>
</html>