<ul class="nav nav-list">
	<li><a href="/blog/command_line_programming.html">Command Line Programming</a></li>
	<li><a href="/blog/git.html">Git</a></li>
	<li><a href="/blog/ios.html">iOS</a></li>
	<li><a href="/blog/neuron_esb.html">Neuron ESB</a></li>
	<li><a href="/blog/software_development.html">Software Development</a></li>
	<li>
		<a href="/blog/windows_development.html">Windows Development</a>
		<ul class="nav nav-list">
			<li><a href="/blog/debugging.html">Debugging</a></li>
			<li>
				<a href="/blog/dotnet_development.html">.NET Development</a>
				<ul class="nav nav-list">
					<li><a href="/blog/windows_communication_foundation.html">WCF</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="/blog/zeromq.html">ZeroMQ</a></li>
</ul>