{% if page.url == '/index.html' %}
{% assign homeClass = 'active' %}
{% elsif page.url contains '/blog/' %}
{% assign blogClass = 'active' %}
{% endif %}

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{site.brand}}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="{{homeClass}}"><a href="/">Home</a></li>
                    <li class="{{blogClass}}"><a href="/blog">Blog</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="https://github.com/mfcollins3">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>