<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.brand}}: {{page.title}}</title>
  <link rel="stylesheet" href="/css/{{page.theme}}.css" media="screen">
  {% include google_analytics.html %}
</head>
  <body>
      {% include navigation_bar.html %}
      <div class="container">
          {{content}}
      </div>
      {% include footer.html %}
      {% include javascript.html %}
      {% include disqus_comment_count_javascript.html %}
  </body>
</html>
