---
---
@import "{{ site.theme }}";

main {
  margin: 0 10px;
}

#latest-story, #featured-category {
  margin: $grid-gutter-width 0;

  > header > h1 {
    font-size: $font-size-base * 1.5;
    border-bottom: 1px solid $gray-300;
  }
}

.post-summary .cover-photo img {
  width: 100%;
}

#featured-category .older-articles {
  display: none;
}

@include media-breakpoint-up(md) {
  .post-summary {
    display: flex;
    flex-direction: row;

    .cover-photo {
      flex: 1;
      margin-right: $grid-gutter-width;
    }

    .summary {
      flex: 2;
    }
  }

  #featured-category > div {
    display: grid;
    column-gap: $grid-gutter-width;
    row-gap: 1em;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "f o"
      "r o";

    .featured-article {
      grid-area: f;
    }

    .recent-articles {
      grid-area: r;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $grid-gutter-width;

      h1 {
        font-size: $font-size-base * 1.5;
      }
    }

    .older-articles {
      grid-area: o;
      display: block;

      h1 {
        font-size: $font-size-base * 1.25;
      }

      .excerpt {
        display: none;
      }
    }
  }

  body > footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 10px;

    .contact {
      grid-column: 3;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }
}
