---
---
@import "{{ site.theme }}";

main {
  margin: 0 10px;
}

#latest-story, #featured-category {
  margin: $grid-gutter-width 0;

  > header > h1 {
    font-size: $font-size-base * 1.5;
    border-bottom: 1px solid $gray-300;
  }
}

.cover-photo img {
  width: 100%;
}

@include media-breakpoint-up(md) {
  #latest-story > article {
    display: flex;
    flex-direction: row;

    .cover-photo {
      flex: 1;
      margin-right: $grid-gutter-width;
    }

    .post-summary {
      flex: 2;
    }
  }

  body > footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .contact {
      grid-column: 3;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }
}
