---
layout: default
title: Blog
header: Michael Collins' Blog
header_description: Here you will find my thoughts, ideas, and sample code from the hobby and professional projects that I am working on.
---
<div class="row">
    <div class="span8">
        <ul class="unstyled">
            {% for post in paginator.posts %}
            {% include post_summary.html %}
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <div>
            <h3>Categories</h3>
            <ul>
                <li>Projects</a></li>
            </ul>
        </div>
        <div>
            <h3>Tags</h3>
        </div>
    </div>
</div>