---
layout: default
title: My Blog
description: Here you will find my thoughts, ideas, and sample code from the hobby and professional projects that I am working on.
---
{% if paginator.previous_page %}
{% assign previous_class = "" %}
{% else %}
{% assign previous_class = "disabled" %}
{% endif %}
{% if paginator.next_page %}
{% assign next_class = "" %}
{% else %}
{% assign next_class = "disabled" %}
{% endif %}
<nav>
  <ul class="pager">
    <li class="previous {{previous_class}}">
      <a href="{{paginator.previous_page_path}}">
        <span aria-hidden="true">&larr;</span> Newer
      </a>
    </li>
    <li class="next {{next_class}}">
      <a href="{{paginator.next_page_path}}">
        <span aria-hidden="true">&rarr;</span> Older
      </a>
    </li>
  </ul>
</nav>

<section>
  {% for post in paginator.posts %}
  <article>
    <h1><a href="{{post.url}}">{{post.title}}</a></h1>
    <p>{{post.date | date_to_long_string}}</p>
    {{post.excerpt}}
    <p><a href="{{post.url}}#disqus_thread">Comments</a></p>
  </article>
  {% endfor %}
</section>

<nav>
  <ul class="pager">
    <li class="previous {{previous_class}}">
      <a href="{{paginator.previous_page_path}}">
        <span aria-hidden="true">&larr;</span> Newer
      </a>
    </li>
    <li class="next {{next_class}}">
      <a href="{{paginator.next_page_path}}">
        <span aria-hidden="true">&rarr;</span> Older
      </a>
    </li>
  </ul>
</nav>
