<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}} - {{site.brand}}</title>
        <link rel="stylesheet" href="/css/{{site.theme}}.css"/>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="og:title" content="{{page.title}}"/>
        <meta name="og:type" content="website"/>
        <meta name="og:site_name" content="{{site.brand}}"/>
        <meta name="og:url" content="http://www.michaelfcollins3.me{{page.url}}"/>
        <meta name="og:description" content="{{page.description}}"/>
        {% include google_analytics.html %}
    </head>
    <body>
        {% include page_header.html %}
        {% include navigation_bar.html %}
        <div class="container">
            {{content}}
        </div>
        {% include footer.html %}
        {% include javascript.html %}
        {% include disqus_comment_count_javascript.html %}
    </body>
</html>