<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}} - Michael Collins on GitHub</title>
        <link rel="stylesheet" href="/css/{{site.theme}}.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include google_analytics.html %}
    </head>
    <body>
        {% include navigation_bar.html %}
        <div class="container">
            {{content}}
        </div>
        {% include footer.html %}
        {% include javascript.html %}
        {% include disqus_comment_count_javascript.html %}
    </body>
</html>