---
layout: default
title: Neuron ESB
header: Neuron ESB Posts
header_description: Blog posts related to my work on the Neuron Enterprise Service Bus product for Neudesic.
---
<div class="row">
    <div class="span8">
        <ul class="unstyled">
            {% for post in site.categories.Neuron_ESB %}
            {% include post_summary.html %}
            {% endfor %}
        </ul>
    </div>
    <div class="span4">
        <div>
            <h3>Categories</h3>
            <ul>
                {% for category in site.categories %}
                {% assign categoryName = category | first %}
                <li><a href="/blog/{{categoryName | cgi_escape}}/index.html">{{categoryName | replace:'_',' '}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>